<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add City</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a City:</h1>
<form th:action="@{/city/new}"
      th:object="${city}" method="POST">
    City Name:
    <input type="text" th:field="*{cityName}"/>
    <br/>
    Description:
    <input type="text" th:field="*{description}"/>
    <br/>
    <input type="submit" value="Create"/>
    <button class="btn btn-light mt-3" type="submit"><a href="/cityAll">Back</a></button>
</form>
</body>
</html>